@page
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using PikaCore.Areas.Core.Pages.Home
@model PikaCore.Areas.Core.Pages.Home.AboutModel
@{
    ViewData["Title"] = Localizer["About"].Value;
}
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card medium indigo z-depth-0">
            <div class="card-content white-text">
                <span class="card-title">@Localizer["About System"]</span>
                <section style="text-align: justify">
                    <p class="section_paragraph">
                        @Localizer["Pika Core is a subsystem of"]
                        <a href="https://cloud.lukas-bownik.net" class="teal-text">Pika Cloud</a>
                    </p>
                    <p class="section_paragraph">
                        @Localizer["It's main purpose from its very beginning was to give an easy access to all resources I gather on my server's filesystem. "]
                    </p>
                    <p class="section_paragraph">
                        @Localizer["As for now, Pika Core uses custom solution for organizing files which I called VCOS - Virtual Categorized Object System. "]
                    </p>
                    <ul>
                        <li>
                            <p>
                                <strong style="font-style: oblique;">@Localizer["This is PikaCore aka Hannah"]</strong>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>ver.@Model.Version</strong>
                            </p>
                        </li>
                        <li>
                            @{
                                var instanceString = string.IsNullOrEmpty(@Model.Instance)
                                    ? ""
                                    : Localizer["Cluster"].Value + ": " + @Model.Instance;
                            }
                            <p>
                                @instanceString
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="card-action">
                <a href="https://www.github.com/0fca/pika-core">
                    <img src="~/images/github/PNG/GitHub-Mark-32px.png" alt="GitHub repo"/>
                </a>
                <a href="@Url.Page(nameof(Dedication))" class="teal-text">
                    <span class="material-icons">
                        favorite
                    </span>
                </a>
            </div>
        </div>

    </div>
</div>