@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer 
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div class="right">
    <ul class="right hide-on-med-and-down">
        <li>
            <div title="@Localizer["Change display language"]">
                 <a class='dropdown-trigger btn btn-flat' href='#' data-target='cl'></a>
                <ul id='cl' class='dropdown-content'>
                    @foreach (var item in cultureItems)
                    {
                        <li><a asp-controller="Manage" asp-action="SetLanguage" asp-route-culture="@item.Value">@item.Text</a></li>
                    }
                </ul>
            </div>
        </li>
        <li>
            <a class="navlink left center-align" asp-area="Core" asp-controller="Storage" asp-action="Index" title="Pika Browser">
                Pika Browser
            </a>
        </li>
        <li>
            <a id="app-drop-link" class='dropdown-trigger navlink' href='#' data-target='app-dropdown' title="@Localizer["PikaCloudApps"]">
                <i class="large material-icons">apps</i>
            </a>
        </li>
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a asp-area="Identity" class="navlink" asp-controller="Manage" asp-action="Index" title="@Localizer["Manage"]">
                    <i class="material-icons">
                        account_box
                    </i>
                </a>
            </li>
            <li>
                <button type="submit" class="waves-effect waves-teal btn-flat">Log out</button>
            </li>

        }
        else
        {
            <li><a asp-area="Identity" class="navlink" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
            <li><a asp-area="Identity" class="navlink" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a></li>
        }
    </ul>
</div>

<div id="app-dropdown" class="card dropdown-content hide-on-small-and-down appdropdown right z-depth-1-half" tabindex="0">
    <div class="card-content text-left">
        <span class="card-title grey-text text-darken-4 center">
            <img src="~/images/pika-logos/pikacloud_apps.svg" alt="Pika"/>
        </span>
        <div class="collection borderless-collection">
            <a class="collection-item navlink app-menu-item" href="https://player.lukas-bownik.net/" title="Pika Player">
                <span class="material-icons secondary-content navlink">
                    play_arrow
                </span>
                Pika Player
            </a>
            <a class="collection-item navlink app-menu-item" href="https://note.lukas-bownik.net/" title="Pika Note">
                <span class="material-icons secondary-content navlink">
                    subject
                </span>
                Pika Note
            </a>
            <a class="collection-item navlink app-menu-item" href="https://infra.lukas-bownik.net/" title="Pika Status">
                <span class="material-icons secondary-content navlink">
                    favorite_border
                </span>
                Pika Status
            </a>
            
            @if (User.IsInRole("Admin"))
            {
                <a asp-area="Admin" asp-controller="Index" asp-action="Index" class="collection-item navlink app-menu-item" title="Pika Cloud Admin">
                    <span class="material-icons secondary-content navlink">
                        dashboard
                    </span>
                    Pika Cloud Admin
                </a>
            }
        </div>
    </div>
</div>
<script>
    const elems = document.querySelectorAll('.dropdown-trigger');
    const instances = M.Dropdown.init(elems, {});
    instances[0].focusedIndex = 1;
</script>
