@model FMS2.Models.FileResultModel
@using System.IO
@using Microsoft.Extensions.FileProviders

@{
    ViewData["Title"] = "Browse - Admin";
    object lastPath = TempData["LastPath"]; 
    int id = 0;
}
<h2>Index</h2>
        <div class ="row" style="font-size:14px;">
            <a asp-controller="File" asp-action="Index" asp-route-path="../"><strong>Back</strong></a>
        </div>
        <span>
            <a type="button" href="#file-editor" data-toggle="modal">New</a>
            @Html.ActionLink("Delete","Delete") 
        </span>
        <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
            <strong>
            <div class ="col-md-3">
                Name
            </div>
            <div class ="col-md-3">
                Type
            </div>
            <div class ="col-md-3">
                Size
            </div>
            <div class ="col-md-3">
                Options
            </div>
            </strong>
        </div>
        <div class="table-div">
         @foreach (IFileInfo item in FileResultModel.Contents)
        {
            <div class="row">
                <div class ="col-md-3">
                    @if (item.IsDirectory)
                    {     
                        <a asp-controller="File" asp-action="Index" asp-route-path=@item.PhysicalPath>@item.Name</a>
                    }
                    else
                    {
                        <a asp-controller="File" asp-action="Download" asp-route-id=@id asp-route-type="file">@item.Name</a>
                    }
                </div>
                <div class ="col-md-3">
                    @(@File.Exists(@item.PhysicalPath) ? "File" : "Directory")
                </div>
                <div class ="col-md-3">
                    @if(!item.IsDirectory){
                        long i = @item.Length/(1000*1000);
                        <p>@i MB</p>
                    }else{
                        <p>---</p>
                    }
                </div>
                <div class ="col-md-2">
                    @if(item.IsDirectory){
                        @Html.ActionLink("Download as 7z","DownloadDirectory", new {@name=item.Name})
                    }
                    @Html.ActionLink("Rename","Rename", new {@path=item.PhysicalPath})
                    
                </div>
            </div>
            id++;
        }
        </div>
        <div class ="row" style="font-size:14px;">
            <a asp-controller="File" asp-action="Index" asp-route-path="../"><strong>Back</strong></a>
        </div>

<div class="modal fade" tabindex="-1" role="dialog" id="file-editor">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Create new directory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body">
          <label id="text-content">Enter the name:</label>
      </div>
      <div id="file-editor-panel" class="modal-footer">
          <form asp-action="Create" asp-controller="File" method="post">
              <div class="form-group">
                <input type="text" class="form-control" name="name"/>
                <button type="submit" class="btn btn-default">Create</button>
                <button type="cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>

