
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FMS2.Models.FileResultModel
@inject PhysicalFileProvider FileProvider;
@using System.IO
@using Microsoft.Extensions.FileProviders

@{
    ViewData["Title"] = "Browse - Admin";
    object lastPath = ViewData["path"];
    var msg = TempData["returnMessage"];
    var parent = ViewData["parent"];
}

<h3>
    Directory listing for:
</h3>
<span id="nav-span">
    @{
        string[] splitted = lastPath.ToString().Split("/");
        string last = "";
        foreach (string part in splitted)
        {
            if (!part.Equals("/") && !String.IsNullOrEmpty(part))
            {
                last = String.Concat(last, "/", part);

            }

        }
        var tmp = Context.Request.Host + "/File?path=" + last;
    }

    <input id="pathInput" class="path-input" readonly value=@last />
    <input id="helperInput" value=@tmp class="offscreen" aria-hidden="true"/>
    <button class="btn btn-primary-outline" id="copyButton" onclick="copyToClipboard('helperInput');" type="button"><i class="fas fa-copy"></i></button>
</span>

@await Html.PartialAsync("_StatusMessage", msg)


<div id="download-panel" class="row" hidden>
    @await Html.PartialAsync("_DownloadPartial")
</div>

<div class="row">
    <span class="manage-span">
        <input id="searchBox" type="text" oninput="searchFileList();" placeholder="Search list..." class="form-control" />
        <a asp-controller="File" asp-action="Index" asp-route-path=@parent><i class="fas fa-arrow-left"></i></a>

        <a type="button" href="#file-editor" data-toggle="modal"><i class="fas fa-folder-plus"></i></a>
        <a asp-controller="File" asp-action="Delete" asp-route-path=@parent><i class="fas fa-trash-alt"></i>  </a>

    </span>
</div>
<div class="d-flex align-items-center text-center align-content-center row" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;">
    <div class="col-md-4">
        Name
    </div>
    <div class="col-md-4">
        Size
    </div>
    <div class="col-md-4">
        Options
    </div>
</div>
<div id="file-list" class="d-flex align-items-center text-center align-content-center div-table">
    @if (Model.Contents != null)
    {
        if (Model.Contents.Count > 0)
        {
            foreach (var item in Model.Contents)
            {
            <div class="row">
                <div class="col-md-4 truncate">
                    @if (item.IsDirectory)
                    {
                        <i class="fas fa-folder"></i>
                        <a asp-controller="File" asp-action="Index" asp-route-path=@item.Name class="browse-list-a">@item.Name</a>
                    }
                    else
                    {
                        var type = MIMEAssistant.RecognizeIconByMime(MIMEAssistant.GetMIMEType(item.Name));
                        <a asp-controller="File" asp-action="Download" asp-route-id=@item.Name class="browse-list-a"><i class="fas fa-@type"></i>@item.Name</a>
                    }
                </div>
                <div class="col-md-4">
                    @if (!item.IsDirectory)
                    {
                        var unitStrPart = "";
                        long i = item.Length;
                        string[] units = { "B", "kB", "MB", "GB", "TB" };
                        int unitIndex = 0;
                        for (int ptr = 0; ptr <= units.Length; ptr++)
                        {
                            if (i < Math.Pow(1024, ptr) && i > 1024)
                            {
                                unitIndex = ptr - 1;
                                break;
                            }
                        }
                        unitStrPart = Math.Round(i / Math.Pow(1024, unitIndex), 2) + " " + units[unitIndex];
                        <p>@unitStrPart</p>
                    }
                    else
                    {
                        <p>---</p>
                    }
                </div>
                <div class="col-md-4">
                    @if (!item.IsDirectory)
                    {
                        TempData["physicalPath"] = item.PhysicalPath;
                        <a href="GenerateUrlView?returnUrl=@Context.Request.Path"><i class="fas fa-bolt" title="Generate download url"></i></a>
                    }
                    else
                    {
                        <a asp-action="Rename"><i class="fas fa-pen"></i></a>
                        <a data-toggle="modal" asp-action="Download" asp-controller="File" onclick="showDownloadBox();" asp-route-id=@item.Name><i class="fas fa-arrow-down" title="Download directory as zip"></i></a>

                        @if (item.Name.EndsWith(".mp3") || item.Name.EndsWith(".mp4"))
                        {
                            TempData["src"] = item.PhysicalPath;
                            @Html.ActionLink("Play", "Video", "Video")
                        }
                    }
                </div>
            </div>
            <hr>
            }
        }
        else
        {
            <div class="row">
                <h1>It is empty in here...</h1>
            </div>
        }
    }
    else
    {
        <div class="input-group">
            <p>@msg.ToString()</p>
            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-warning-sign text-danger"></span></span>
        </div>
    }
</div>
<div class="row" style="font-size:14px;">
    <a asp-controller="File" asp-action="Index" asp-route-path=@parent><i class="fas fa-arrow-left"></i></a>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="file-editor">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Create new directory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body">
                <label id="text-content">Enter the name:</label>
            </div>
            <div id="file-editor-panel" class="modal-footer">
                <form asp-action="Create" asp-controller="File" asp-route-parent="@parent" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" />
                        <button type="submit" class="btn btn-default">Create</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("searchBox").addEventListener("keydown", function (e) {
        if (e.keyCode == 8) {
            searchFileList();
        }
    });
</script>


