@model FMS2.Models.FileResultModel
@using System.IO;
@using Microsoft.Extensions.FileProviders
@{
    ViewData["Title"] = "Browse - Admin";
    object lastPath = TempData["LastPath"]; 
    int id = 0;
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Size
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-controller="File" asp-action="Index" asp-route-path="../">Back</a>
            </td>
        </tr>
         @foreach (IFileInfo item in Model.Contents)
        {
            <tr>
                <td>
                    @if (item.IsDirectory)
                    {
                        <a asp-controller="File" asp-action="Index" asp-route-path=@item.PhysicalPath>@item.Name</a>
                    }
                    else
                    {
                        <a asp-controller="File" asp-action="Download" asp-route-id=@id>@item.Name</a>
                    }
                </td>
                <td>
                    @(@File.Exists(@item.PhysicalPath) ? "File" : "Directory")
                </td>
                <td>
                    @if(!item.IsDirectory){
                        long i = @item.Length/(1000*1000);
                        <p>@i MB</p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Delete","Delete", new {@name=@item.PhysicalPath}) |
                    @Html.ActionLink("Rename","Rename", new {@name=@item.PhysicalPath})
                </td>
            </tr>
            id++;
        }
        </tr>
         <tr>
            <td>
                <a asp-controller="File" asp-action="Index" asp-route-path="../">Back</a>
            </td>
        </tr>
    </tbody>
</table>