
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FMS2.Models.FileResultModel
@inject PhysicalFileProvider FileProvider;
@using System.IO
@using Microsoft.Extensions.FileProviders

@{
    ViewData["Title"] = "Browse";
    object lastPath = ViewData["path"];
    var msg = TempData["returnMessage"];
    var parent = ViewData["returnUrl"];
    var showDownloadPart = TempData["showDownloadPartial"];
}
@await Html.PartialAsync("_StatusMessage", msg)
<h3>
    Directory listing for:
</h3>
<span>
    @{
        string[] splitted = lastPath.ToString().Split("/");
        string last = "";
        var tmp = "/File?path=" + last;

        <a href="/File">Index</a>
        <label>/</label>
        foreach (string part in splitted)
        {

            if (!String.IsNullOrEmpty(part))
            {

                last = String.Concat(last, "/", part);
                tmp = "/File?path=" + last;
                <a href=@tmp>@part</a>
                <label>/</label>
            }
        }
    }
    <input id="helperInput" value="@Context.Request.Host@tmp" class="offscreen" aria-hidden="true" />
    <button class="waves-effect waves-teal btn-flat" id="copyButton" onclick="copyToClipboard('helperInput');" type="button"><i class="fas fa-copy"></i></button>
    <input type="text" id="pathField" placeholder="Enter the absolute system path..." class="form-control" value="@last" />
</span>


<div id="download-panel" class="row" hidden>
    @await Html.PartialAsync("_DownloadPartial")
</div>
<span class="row">
    <span class="manage-span">
        <a class="btn-flat" asp-controller="File" asp-action="Index" asp-route-path=@parent><i class="fas fa-arrow-left"></i></a>
        <a data-target="file-editor" class="btn-flat modal-trigger"><i class="fas fa-folder-plus"></i></a>
        <a class="btn-flat" asp-controller="File" asp-action="Delete" asp-route-path=@parent><i class="fas fa-trash-alt"></i>  </a>
        <a class="btn-flat modal-trigger" data-target="upload-modal"><i class="fas fa-upload"></i></a>
    </span>
    <span>
        <input type="text" id="searchBox" maxlength="64" placeholder="Search" oninput="searchFileList();" />
    </span>
</span>
<div class="row" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;">
    <div class="col s4">
        Name
    </div>
    <div class="col s4">
        Size
    </div>
    <div class="col s4">
        Options
    </div>
</div>
<div id="file-list" class="collection">
    @if (Model.Contents != null)
    {
        if (Model.Contents.Count > 0)
        {
            foreach (var item in Model.Contents)
            {
                <div class="row collection-item">
                    <div class="col s6 truncate">
                        @if (item.IsDirectory)
                        {
                            <i class="fas fa-folder"></i>
                            <a asp-controller="File" asp-action="Index" asp-route-path=@item.Name>@item.Name</a>
                        }
                        else
                        {
                            var type = MIMEAssistant.RecognizeIconByMime(MIMEAssistant.GetMIMEType(item.Name));
                            <i class="fas fa-@type"></i>
                            <a asp-controller="File" asp-action="Download" asp-route-id=@item.Name>@item.Name</a>
                        }
                    </div>
                    <div class="col s1">
                        @if (!item.IsDirectory)
                        {
                            var unitStrPart = "";
                            long i = item.Length;
                            string[] units = { "B", "kB", "MB", "GB", "TB" };
                            int unitIndex = 0;
                            for (int ptr = 0; ptr <= units.Length; ptr++)
                            {
                                if (i < Math.Pow(1024, ptr) && i > 1024)
                                {
                                    unitIndex = ptr - 1;
                                    break;
                                }
                            }
                            unitStrPart = Math.Round(i / Math.Pow(1024, unitIndex), 2) + " " + units[unitIndex];
                            <p>@unitStrPart</p>
                        }
                        else
                        {
                            <p>---</p>
                        }
                    </div>
                    <div class="col s4">
                        @{ var systemPath = lastPath + "/" + item.Name;}
                        @if (!item.IsDirectory)
                        {
                            <a asp-action="GenerateUrlView" asp-route-name="@item.Name" asp-route-returnUrl="@Context.Request.Path"><i class="fas fa-bolt" title="Generate download url"></i></a>
                            @if (item.Name.EndsWith(".mp3") || item.Name.EndsWith(".mp4") || item.Name.EndsWith(".avi"))
                            {
                                <a asp-action="Watch" asp-controller="Video" asp-route-path="@last/@item.Name"><i class="fas fa-play" title="Play"></i></a>
                            }
                        }
                        else
                        {
                            <a asp-action="Archive" asp-controller="File" onclick="showDownloadBox();" asp-route-id="@item.Name"><i class="fas fa-arrow-down" title="Download directory as zip"></i></a>
                        }
                        <a asp-action="Rename" asp-route-inname="@item.Name"><i class="fas fa-pen"></i></a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <h1>It is empty in here...</h1>
            </div>
        }
    }
    else
    {
        <div class="input-group">
            <p>@msg.ToString()</p>
            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-warning-sign text-danger"></span></span>
        </div>
    }
</div>
<div class="row" style="font-size:14px;">
    <a asp-controller="File" asp-action="Index" asp-route-path=@parent><i class="fas fa-arrow-left"></i></a>
</div>
<div id="file-editor" class="modal">
    <form method="post">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <div class="form-group">
                <input type="text" class="form-control" name="name" />

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-flat" asp-controller="File" asp-action="Create" asp-route-parent=@parent>Create</button>
            <a class="btn-flat modal-close">Cancel</a>
        </div>
    </form>
</div>
@await Html.PartialAsync("_UploadPartial", new List<IFormFile>())

<script>
    document.getElementById("searchBox").addEventListener("keydown", function (e) {
        if (e.keyCode == 8) {
            searchFileList();
        }
    });
    document.getElementById("pathField").addEventListener("keydown", (key) => {
        if (key.keyCode == 13) {
            let path = document.getElementById("pathField").value;
            location = "/File?path=" + path;
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
    });
</script>

