@model FMS2.Models.FileResultModel
@using System.IO;
@using Microsoft.Extensions.FileProviders
@{
    ViewData["Title"] = "Browse - Anon";
    object lastPath = TempData["LastPath"]; 
    int id = 0;
}

<label hidden id="pathLbl">@lastPath</label>
<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Size
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (IFileInfo item in Model.Contents)
        {
            
            <tr>
                <td>
                    @if (item.IsDirectory)
                    {
                        <a asp-controller="File" asp-action="Index" asp-route-path=@item.PhysicalPath>@item.Name</a>
                    }
                    else
                    {
                        <a asp-controller="File" asp-action="Download" asp-route-id=@id>@item.Name</a>
                    }
                </td>
                <td>
                    @(@File.Exists(@item.PhysicalPath) ? "File" : "Directory")
                </td>
                <td>
                    @if(!item.IsDirectory){
                        long i = @item.Length/(1000*1000);
                        <p>@i MB</p>
                    }
                </td>
            </tr>
            id++;
        }
    </tbody>
</table>