@inject IViewLocalizer Localizer  
@{
    ViewData["Title"] = "Home Page";
    var msg = TempData["returnMessage"];
}
<div class="row">
    <div class="main-page-content col s12 m12 l12">
        <h1 class="center">@Localizer["MainHeaderWelcomeText"] <strong class="indigo-text">Pika Core</strong>!</h1>
        <p class="flow-text center">
            @Localizer["MainHeaderText"]. @Localizer["MainHeaderYou"]
            <a class="teal-text" asp-area="Core" asp-controller="Storage" asp-action="Index">
               @Localizer["MainHeaderBrowserLinkText"] 
            </a> @Localizer["MainHeaderOr"] <a class="teal-text" asp-page="/Home/About">@Localizer["MainHeaderAboutLinkText"]</a>.
        </p>
    </div>
</div>

@await Html.PartialAsync("Partial/_StatusMessage.cshtml", msg)


