@model AdminPanelViewModel

@{
    ViewData["Title"] = "Panel";
    var msg = @TempData["StatusMessage"];
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_StatusMessage", msg)

<div id="downloadPartialDiv">
    @await Html.PartialAsync("_GeneratePasswordViewPartial.cshtml")
</div>

<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <a class="nav-link teal-text" href="#">Users</a>
        </div>
        <div class="collapsible-body">
            <div class="row" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;">
                <div class="col s5">
                    Username
                </div>
                <div class="col s3">
                    Permission level
                </div>
                <div class="col s4">
                    Options
                </div>
            </div>
            <div class="div-table">
                @foreach (var (key, value) in Model.UsersWithRoles)
                {
                    var roleString = "";
                    value.ToList().ForEach(role =>
                    {
                        roleString = string.Concat(roleString, " ", role);
                    });

                    <div class="row">
                        <div class="col s5 truncate">
                            @Html.DisplayFor(modelItem => key.UserName)
                        </div>
                        <div class="col s3">

                            @Html.DisplayFor(modelItem => roleString)
                        </div>
                        <div class="col s4">
                            <a class="teal-text" asp-action="Edit" asp-controller="Admin" asp-route-id=@key.Id><i class="fas fa-pen"></i></a>
                            <a class="teal-text" asp-action="Delete" asp-controller="Admin" asp-route-id="@key.Id"><i class="fas fa-trash-alt"></i></a>
                            <a class="teal-text" asp-action="GeneratePassword" asp-controller="Admin" asp-route-id="@key.Id"><i class="fas fa-key"></i></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <a class="nav-link teal-text" href="#">System Messages</a>
        </div>
        <div class="collapsible-body center">
             <div class="row">
                <ul class="pagination">
                    @for (var pageIndex = 0; pageIndex < @Model.MessageViewModel.PageCount; pageIndex++)
                    {
                        var displayIndex = pageIndex + 1;
                        <li><a asp-controller="Admin" asp-action="Index" asp-route-offset="@pageIndex" class="btn btn-flat">@displayIndex</a></li>
                    }
                </ul>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <a class="btn btn-primary teal" href="/Core/Admin/CreateMessage">Create</a>
                </div>
                <div class="col s12 m6 l6">
                    <a  class="btn btn-danger" asp-controller="Admin" asp-action="RemoveMessages">Delete</a>
                </div>
            </div>
            <table class="collection">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Message</th>
                    <th>Message Type</th>
                    <th>Issues Count</th>
                    <th>Is visible</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var message in Model.MessageViewModel.Messages)
                {
                    <tr class="collection-item teal-text transparent">
                        <td>@message.Id</td>
                        <td class="truncate"><a class="teal-text" href="/Core/Admin/MessageEdit/@message.Id">@message.Message</a></td>
                        <td>@message.MessageType</td>
                        <td>@message.RelatedIssues.Count</td>
                        <td>@message.IsVisible</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </li>
</ul>
>>>>>>> 9e40e3e1a041a24c936619b4a822171e76cdd507
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
