@model PikaCore.Areas.Core.Models.ContentViewModels.ContentViewModel
@{
    ViewData["Title"] = "Content Preview - ";                                                                   
}
@if (Model.DataType != null)
{
    <div class="row">
        <h2 class="flow-text center">Preview - @Model.PresentableName</h2>
        @if (!@Model.DataType.Contains("image"))
        {
            <div class="col s12 m12 l12 hide-on-small-and-down">
                <embed style="width: 100%; height: 60vh; object-fit: contain; object-position: center;" src="@Model.TempFileId" type="@Model.DataType"/>
            </div>
            <div class="col s12 m12 l12 hide-on-med-and-up">
                @await Html.PartialAsync("_SystemMessagePartial", "Sorry, you cannot preview non-image content on mobile")
            </div>

        }
        else
        {
            <div class="col s12 m12 l12">
                <embed style="width: 100%; height: 60vh; object-fit: contain; object-position: center;" src="@Model.TempFileId" type="@Model.DataType"/>
            </div>
        }
    </div>
}
else
{
    @await Html.PartialAsync("_SystemMessagePartial", "It seems thatan unexpected error occurred")
}
<div class="row">
    <div class="col s12 m12 l12 center">
        <a class="btn btn-primary" asp-area="Core" asp-controller="Storage" asp-action="Browse" asp-route-path="@Model.ReturnUrl">
            Go Back
        </a>
    </div>
</div>
