@model FileResultViewModel
@inject IViewLocalizer Localizer 

<!-- TODO Add detailed list view -->
@if (Model?.Objects != null)
{
    ViewData["Title"] = Localizer["Wyszukiwarka"];
    <div id="file-list">
        <div class="row grey lighten-4 z-depth-0">
            <div class="col s6 m6 l6">
                @await Html.PartialAsync("Partial/_NavMenu.cshtml")
            </div>
            <div class="col s12 m6 l6">
                <div class="row valign-wrapper">
                    @if (Model.Total > Model.OnePageMaxTotal)
                    {
                        <div class="input-field col s12 m11 l11 left-align">
                            <span>
                                <select id="page_select">
                                    <option value="" disabled selected>@Localizer["Strona"]</option>
                                    @{ var totalPages = (Model.Total / Model.PerPage) + 1; }
                                    @for (var i = 0; i < totalPages; i += 1)
                                    {
                                        var t = i + 1;
                                        if (t == Model.SelectedPage)
                                        {
                                            <option value="@i" selected>@t</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@t</option>
                                        }
                                    }
                                </select>
                                <label for="page_select">@Localizer["Strona: "]</label>
                            </span>
                        </div>
                        <div class="col s2 m2 l2">
                            @Localizer["z"] @totalPages
                        </div>
                    }
                    <div class="col s4 m1 l1 ">
                        <div class="input-field">
                            <a asp-area="Core"
                               asp-controller="Storage"
                               asp-action="Browse"
                               asp-route-bucketId="@Model.BucketId"
                               asp-route-categoryId="@Model.CategoryId"
                               class="btn btn-flat">
                                <i class="fas fa-times-circle"></i>
                            </a>
                        </div>
                    </div>

                    <div class="input-field col s12 m11 l11">
                        <select id="tags_select">
                            <option value="" disabled selected>@Localizer["Filtruj po tagach"]</option>
                            @foreach (var tag in Model.Tags)
                            {
                                @if (@Model.SelectedTag == tag)
                                {
                                    <option value="@tag" selected>@tag</option>
                                }
                                else
                                {
                                    <option value="@tag">@tag</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row lighten-4 z-depth-0">
            <div class="input-field col s12 m2 l2">
                <select id="select_length">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
                <label for="select_length">
                    @Localizer["Ilość rekordów"]:
                </label>
            </div>
            <div class="col s12 m6 l6 right">
                <div class="input-field col s12">
                    <input id="search_input" value="" type="text" class="grey-text"/>
                    <label for="search_input">@Localizer["Szukaj"]</label>
                </div>
            </div>
        </div>

        <table class="responsive-table striped" id="dir_content">
            <thead>
            <tr>
                <th scope="col">@Localizer["Nazwa"]</th>
                <th scope="col">@Localizer["Rozmiar"]</th>
                <th scope="col">@Localizer["Data modyfikacji"]</th>
                <th scope="col">@Localizer["Tagi"]</th>
                <th scope="col">@Localizer["Szczegóły"]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Objects)
            {
                <tr>
                    @await Html.PartialAsync("Partial/FileListItemPartial",
                               new Tuple<ObjectInfo, string, string>(item, Model.CategoryId, Model.BucketId))
                </tr>
            }
            </tbody>
        </table>

    </div>

    //@await Html.PartialAsync("Partial/_UploadPartial.cshtml", lastPath)

    @await Html.PartialAsync("Partial/_InformationSidePartial.cshtml")

    <!--<script src="~/js/media.js" asp-append-version="true" defer=""></script>-->
    <!--<script src="~/js/file.js" asp-append-version="true" defer=""></script>-->
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js" asp-append-version="true" defer=""></script>
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css"/>
    <script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js" defer=""></script>
    <script>
        @{
            var domConfig = "trpi";
            if (Model.Total > Model.OnePageMaxTotal)
            {
                domConfig = "tri";
            }
        }
         $(document).ready( function () {
             const dt = $('#dir_content').DataTable({
                "oSearch": {"sSearch": "@Model.SelectedTag"},
                deferRender: true,
                autoWidth: false,
                language: {
                  "emptyTable": '@Localizer["Brak danych"]',
                  "loadingRecord": '@Localizer["Ładowanie"]...',
                  "search": '@Localizer["Szukaj"]:',
                  "info": '@Localizer["Wyświetlono start do end z total rekordów"]',
                  "infoEmpty": '@Localizer["Wyświetlono 0 do 0 z 0 rekordów"]',
                  "paginate": {
                      "first":      '@Localizer["Pierwszy"]',
                      "last":       '@Localizer["Ostatni"]',
                      "next":       '@Localizer["Następny"]',
                      "previous":   '@Localizer["Poprzedni"]'
                  },
                  "zeroRecords":    '@Localizer["Brak pasujących rekordów"]',
                },
                columnDefs: [
                    {
                          target: 3,
                          visible: false
                    } 
                ],
                dom: '@domConfig'
             }); 
             $("#select_length").val(@Model.PerPage);
             dt.page.len($('#select_length').val()).draw();
             $('#select_length').change(e => {
                 dt.page.len($('#select_length').val()).draw();
                 const count = $('#select_length').val();
                 window.location = 
                    `/Core/Storage/Browse?categoryId=@Model.CategoryId&bucketId=@Model.BucketId&offset=0&count=${count}`;
                 
             });
             $('#tags_select').change((e) => {
                 dt
                 .columns(3)
                 .search(`^.*${$('#tags_select').val()}.*$`, true, false, false)
                 .draw(); 
             });
             $('#search_input').on('propertychange input', (e) => {
                 dt
                  .columns(3)
                  .search($('#search_input').val())
                  .draw(); 
             });
         } );
         $("#page_select").change((e) => {
             const page = $('#page_select').val();
             const count = @Model.PerPage;
             window.location = 
             `/Core/Storage/Browse?categoryId=@Model.CategoryId&bucketId=@Model.BucketId&offset=${page*count}&count=${count}`;
         });

    </script>
}