@using PikaCore.Areas.Core.Models.DTO
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = Localizer["Kategorie"];
}
@if (Context.User.Identity!.IsAuthenticated && Context.User.IsInRole("Administrator"))
{
    <div class="row">
        <div class="col s12 m12 s12">
            <form asp-area="Core" asp-controller="Storage" asp-action="Index" method="get">
                <div class="row valign-wrapper">
                    <div class="col s9 m9 l9 right-align">
                        <span class="">
                            <i class="fab fa-bitbucket"></i>
                        </span>
                    </div>
                    <div class="col s3 m3 l3">
                        <select style="width: 10em;"
                                id="buckets_select"
                                onchange="this.form.submit()"
                                asp-for="CurrentBucketName">
                            <option value="" disabled selected>@Localizer["Wybierz bucket"]</option>
                            @foreach (var bucket in Model.Buckets)
                            {
                                var selected = Model.CurrentBucketName.Equals(bucket.Name);
                                if (selected)
                                {
                                    <option value="@bucket.Name" selected>@bucket.Name</option>
                                }
                                else
                                {
                                    <option value="@bucket.Name">@bucket.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
@if (Model.Categories.Count > 0)
{
    <ul class="collection with-header">
        <li class="collection-header"><h4>@Localizer["Kategorie"]</h4></li>
        @foreach (var category in Model.Categories)
        {
            @(await Html.PartialAsync("Partial/CategoryCardPartial",
                new Tuple<CategoryDTO, Guid>(category, Model.CurrentBucketId!.Value)))
        }
    </ul>
}
else
{
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel teal white-text center-align">
                <p class="flow-text">@Localizer["Wygląda na to, że żadne kategorie nie są dostępne"]</p>
            </div>
        </div>
    </div>
}