@page
@using PikaCore.Areas.Api.v1.Data
@model PikaCore.Areas.Core.Pages.Admin.CreateMessage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@{ 
    ViewData["Title"] = "Create system message";
}
<div class="container">
<div class="card indigo white-text center">
    <span class="card-title">
        @ViewData["Title"]
    </span>
    <div class="card-content">
        <form asp-page="CreateMessage" method="post">
            <div class="row">
                <div class="input-field">
                    <label>@Html.DisplayNameFor(m => m.Message.Content)</label>
                    <textarea asp-for="Message.Content" class="materialize-textarea login-input-color" data-length="1000"></textarea>
                    <span asp-validation-for="Message.Content" class="red-text"></span>
                </div>
                <div class="input-field">
                    <select asp-for="Message.IsVisible" class="validate login-input-color">
                        <option value="true" selected>Visible</option>
                        <option value="false">Invisible</option>
                    </select>
                    <label>@Html.DisplayNameFor(m => m.Message.IsVisible)</label>
                </div>
                <div class="input-field">
                    <select asp-for="Message.MessageType" class="validate login-input-color">
                        @foreach (var type in typeof(MessageType).GetEnumValues())
                        {
                            <option value="@Convert.ToInt32(type)">@type</option>
                        }
                    </select>
                    <label>@Html.DisplayNameFor(m => m.Message.MessageType)</label>
                </div>
            </div>
            <div class="card-action">
                <span>
                    <button type="submit" class="btn btn-danger">Create</button>
                    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Cancel</a>
                </span>
            </div>
        </form>
    </div>
</div>
</div>