@using FMS2.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var isAdmin = SignInManager.Context.User.IsInRole("Admin");
}

<ul class="tabs tabs-fixed-width">
    <li class="col s4 tab @ManageNavPages.IndexNavClass(ViewContext)"><a target="_self" asp-action="Index">Profile</a></li>
    <li class="col s4 tab @ManageNavPages.ChangePasswordNavClass(ViewContext)"><a target="_self" asp-action="ChangePassword">Password</a></li>
    @if(isAdmin)
    {
        <li class="col s4 tab @ManageNavPages.AdminPanelNavClass(ViewContext)"><a target="_self" asp-action="AdminUserPanel">Admin panel</a></li>
    }
    @if (hasExternalLogins)
    {
        <li class="col s4 tab @ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a target="_self" asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="col s4 tab @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a target="_self" asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>
</ul>

