@using PikaCore.Areas.Core.Models
<!DOCTYPE html>
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer  
@{ 
    var role = "";
    var roleName = "";
    if (User.Identity.Name != null)
    {
        role = (UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).Result.ElementAt(0);
        ViewData["Role"] = role;
        roleName = role !??  $" - {role} - ";
    }
    else
    {
        roleName = " - ";
    }

}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] @roleName Hannah</title>
    <meta property="og:title" content="Pika Core" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://core.lukas-bownik.net/" />
    <meta property="og:description" content="Welcome to Pika Core - a core of Pika Cloud. Enter to find a lot of interesting stuff!" />
    <meta property="og:image" content="https://core.lukas-bownik.net/images/pika-logos/pikacloud_brand.png" />
    <meta name="theme-color" content="#009688" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.14.0-web/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/materialize.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/material-icons.css" asp-append-version="true">
    <link rel="icon" type="image/ico" href="~/images/pika-logos/pikacloud_48.png" asp-append-version="true">
    @await Html.PartialAsync("_ValidationScriptsPartial")
</head>
<body>
<main>
    <form asp-area="Identity" asp-action="Logout" asp-controller="Account" method="post" id="logoutForm">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper navbar-color">
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons indigo-text">menu</i></a>
                    <a asp-area="Core" asp-controller="Home" asp-action="Index" class="brand-logo brand-margin brand-text">
                        <img src="~/images/pika-logos/pikacloud_brand.png" class="responsive-img" width="137" height="48" alt="Pika Cloud"/>
                    </a>
                    @await Html.PartialAsync("_LinksPartial")
                </div>
            </nav>
        </div>
        <ul id="slide-out" class="sidenav">
            @await Html.PartialAsync("_Sidenav")
        </ul>
    </form>
    <div class="container container-padding">
        @RenderBody()
    </div>
</main>
<footer class="page-footer footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <p class="white-text left small-text">@Localizer["FooterInterestedInAppText"]?
                    @{
                        var msg = Localizer["FooterSeeAboutText"];
                        var link = $"<a href=\"/Core/Home/About\">{Localizer["AboutText"].Value}</a>";
                    }
                    @(Html.Raw(string.Format(msg.Value, link))) 
                </p>
                
                <p class="white-text left small-text">@Localizer["FooterCookieText"] <a asp-page="/Policy/Index">@Localizer["PoliciesText"]</a> .</p>
            </div>
            <environment include="Development">
                <div class="col s12 m6 l6">
                    <strong class="teal-text right">This is an developer instance of Pika Core Application.</strong>
                </div>
             </environment>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 - @DateTime.Now.Year Pika Cloud - From creativity comes immersion
        </div>
    </div>
</footer>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.modal');
        const instances = M.Modal.init(elems);
    });
</script>


@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
