@page
@model PikaCore.Pages.Home.AboutModel
    <div class="row">
        <h1>@ViewData["Title"]</h1>
        <div class="col s12 m6">
            <div class="card indigo">
                <div class="card-content white-text">
                    <span class="card-title">What is this?</span>
                    <section id="aboutthis">
                        <p class="section_paragraph">
                            Pika Cloud is a web application built especially to make an access to my server's filesystem easier.
                            It is my first web app I've ever build. I started development on .NET Core 2.1 SDK, but now I use .NET Core SDK of version @Model.FrameworkVer.
                        </p>
                        @{
                            var dev = "";
                        }
                        <environment include="Development">
                            @{dev = "BETA";}
                        </environment>
                        <p class="section_paragraph">
                            This is Hannah(Pika Core), version: @Model.Version @dev.
                        </p>
                    </section>
                </div>
                <div class="card-action">
                    <a href="https://www.github.com/Obsidiam/pika-cloud">
                        <img src="~/images/github/PNG/GitHub-Mark-32px.png" alt="GitHub repo"/>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="col s12 m6">
            <div class="card indigo">
                <div class="card-content white-text">
                    <span class="card-title">Technical information</span>
                    <section id="technicalinformation">
                        <p class="section_paragraph">
                            Some technical stuff for those who are interested:
                            <ul>
                                <li>This neat simple web app is hosted on my private server and running on @Model.Os</li>
                                <li>.NET Core is the technology I used to build Pika Core, its version is @Model.FrameworkVer</li>
                                <li>All this is open source under GPL v.3.0 license.</li>
                            </ul>
                        </p>
                    </section>
                </div>
                <div class="card-action">
                    <a class="teal-text" href="https://www.gnu.org/licenses/gpl-3.0.en.html"><img src="~/images/heckert_gnu.transp.small.png" height="32" width="32" alt="GPL v.3.0" /></a>
                    <a class="teal-text" href="https://www.debian.org/"><img src="~/images/debian_logo.svg" height="32" width="32" alt="Debian" /></a>
                    <a class="teal-text" href="https://dotnet.microsoft.com/download/dotnet-core"><img src="~/images/1024px-.NET_Core_Logo.svg.png" height="32" width="32" alt=".NET Core" /></a>
                    <a class="teal-text" href="https://github.com/Obsidiam/fms/tree/development">
                        <img src="~/images/github/PNG/GitHub-Mark-32px.png" alt="GitHub repo" />
                    </a>
                    <a class="teal-text" href="https://freedns.afraid.org/">
                        <span class="material-icons">
                            dns
                        </span>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
