@page
@model PikaCore.Areas.Core.Pages.Admin.CreateSystem

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@{ 
    ViewData["Title"] = "Create system";
}
<div class="container">
<div class="card indigo white-text center">
    <span class="card-title">
        @ViewData["Title"]
    </span>
    <div class="card-content">
        <form asp-page="CreateSystem" method="post">
            <div class="row">
                <div class="input-field">
                    <label>@Html.DisplayNameFor(m => m.SystemDescriptor.SystemName)</label>
                    <input asp-for="SystemDescriptor.SystemName" class="login-input-color" type="text" />
                    <span asp-validation-for="SystemDescriptor.SystemName" class="red-text"></span>
                </div>
                <div class="input-field">
                    <label>@Html.DisplayNameFor(m => m.SystemDescriptor.Address)</label>
                    <input asp-for="SystemDescriptor.SystemName" class="login-input-color" type="text" />
                    <span asp-validation-for="SystemDescriptor.SystemName" class="red-text"></span>
                </div>
                <div class="input-field">
                    <select asp-for="SystemDescriptor.Dependencies" class="validate login-input-color">
                        @foreach (var type in Model.SystemDescriptor.Dependencies)
                        {
                            <option value="@type.Id">@type.SystemDescriptor.SystemName</option>
                        }
                    </select>
                    <label>@Html.DisplayNameFor(m => m.SystemDescriptor.Dependencies)</label>
                </div>
                <div class="input-field">
                    <label>@Html.DisplayNameFor(m => m.SystemDescriptor.Port)</label>
                    <input asp-for="SystemDescriptor.Port" class="login-input-color" type="number"/>
                    <span asp-validation-for="SystemDescriptor.SystemName" class="red-text"></span>
                </div>
            </div>
            <div class="card-action">
                <span>
                    <button type="submit" class="btn btn-danger">Create</button>
                    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Cancel</a>
                </span>
            </div>
        </form>
    </div>
</div>
</div>