@using PikaCore.Areas.Infrastructure.Services.Helpers
@using PikaCore.Security
@inject SignInManager<ApplicationUser> SignInManager
@model Tuple<string, Microsoft.Extensions.FileProviders.IFileInfo>
@inject IdDataProtection DataProtection


@{
    var item = Model.Item2;
    var lastPath = Model.Item1;
    var viewableName = item.Name.StartsWith("~")
        ? item.Name.Replace("~", "")
        : item.Name;
    var dirIcon = item.Name.StartsWith("~") ? "folder" : "folder_shared";
    var dateString = @item.LastModified.Date.ToLongDateString();
    var did = @DataProtection.Encode(item.PhysicalPath);
}

<div class="card grey lighten-4 z-depth-0 small" id="@did">
    <div class="card-content">
        <div class="card-title truncate">
            <div class="row">
                <div class="col s10 m10 l10">
                    <a class="teal-text truncate" asp-area="Core"
                       asp-controller="Storage"
                       asp-action="Browse"
                       asp-route-path="@System.IO.Path.Combine(Model.Item1, item.Name)"
                       title="@viewableName">
                        <span class="material-icons">
                            @dirIcon
                        </span>
                        @viewableName
                    </a>
                </div>
                <div class="col s2 m2 l2">
                    <span class="material-icons right activator">info</span>
                </div>
            </div>
            
        </div>
    </div>
    <div class="card-reveal grey lighten-4 ">
        <span class="card-title grey-text text-darken-4">Information<i class="material-icons right">close</i></span>
        <div>
            <p>Full name: @item.Name</p>
            <p>MIME: inode/directory</p>
            @if (!item.IsDirectory)
            {
                <p>Size: @UnixHelper.DetectUnitBySize(item.Length)</p>
            }
            <div>
                <p>Last Modified: @dateString</p>
            </div>
        </div>
        
        @if (item.Name.StartsWith("~"))
        {
            <span class="material-icons">
                lock
            </span>
        }
    </div>
    
</div>

