@using PikaCore.Areas.Infrastructure.Services.Helpers
@using Microsoft.Extensions.FileProviders
@inject SignInManager<ApplicationUser> SignInManager
@model Tuple<string, Microsoft.Extensions.FileProviders.IFileInfo>


@{
    var item = Model.Item2;
    var lastPath = Model.Item1;
    var viewableName = item.Name.StartsWith("~")
        ? item.Name.Replace("~", "")
        : item.Name;
    var dirIcon = item.Name.StartsWith("~") ? "folder" : "folder_shared";
    var dateString = @item.LastModified.Date.ToLongDateString();
}

<div class="card small">
    <div class="card-content">
        <span class="card-title truncate activator">
            <i class="material-icons">
                @dirIcon
            </i>
            <a class="teal-text" asp-area="Core"
               asp-controller="Storage"
               asp-action="Browse"
               asp-route-path="@System.IO.Path.Combine(Model.Item1, item.Name)"
               title="@viewableName">
                @viewableName
            </a>
            <i class="material-icons right">more_vert</i>
        </span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Information<i class="material-icons right">close</i></span>
        <div>
            @if (!item.IsDirectory)
            {
                <p>Size: @UnixHelper.DetectUnitBySize(item.Length)</p>
            }
        </div>

        <div>
            <p>Last Modified: @dateString</p>
        </div>

        @if (item.Name.StartsWith("~"))
        {
            <span class="material-icons">
                lock
            </span>
        }
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="card-action">
            @await Html.PartialAsync("Partial/_ContextMenuPartial", new Tuple<string, IFileInfo>(lastPath, item))
        </div>
    }
</div>

