@model Dictionary<string,object>
@{ 

    Model.TryGetValue("PageCount", out var pgc);
    Model.TryGetValue("Last", out var last);
    Model.TryGetValue("Count", out var strCount);
    Model.TryGetValue("Offset", out var strOffset);
    var pageCount = int.Parse(pgc.ToString());
    var offset = int.Parse(strOffset.ToString());
    var count = int.Parse(strCount.ToString());
}
<div class="row">
    <ul class="pagination center">
     @if (offset - count >= 0)
     {
         <li class="waves-effect white-text">
             <a asp-area="Core" asp-action="Browse" asp-route-path="@last.ToString()" asp-route-offset="@(offset - count)">
                 <i class="material-icons">
                     chevron_left
                 </i>
             </a>
         </li>
     }
        
        @{
            var dotsViewed = false;
        }
        @for (int i = 1; i <= pageCount; i++)
        {
            var active = (offset / count) == i - 1 ? "active" : "";
            if (pageCount < 5)
            {
                <li class="waves-effect @active white-text"><a asp-area="Core" asp-action="Browse" asp-route-path="@last.ToString()" asp-route-offset="@((i - 1) * count)">@i</a></li>
            }
            else
            {
                if (i <= 2 || i >= pageCount - 1)
                {
                    <li class="waves-effect @active white-text"><a asp-area="Core" asp-action="Browse" asp-route-path="@last.ToString()" asp-route-offset="@((i - 1) * count)">@i</a></li>
                }
                else if (!dotsViewed)
                {
                    if ((offset / count) > 1 && (offset / count) < pageCount - 2)
                    {
                        <li class="teal-text center"> ... </li>
                        <li class="waves-effect active teal-text center"><a href="#">@(offset / count) </a></li>
                        <li class="teal-text center"> ... </li>
                        dotsViewed = true;
                    }
                    else
                    {
                        <li class="teal-text center"> ... </li>
                        dotsViewed = true;
                    }
                }
            }
        }
        @if ((offset + count) < (pageCount * count))
        {
            <li class="waves-effect white-text">
                <a asp-area="Core" asp-action="Browse" asp-route-path="@last.ToString()" asp-route-offset="@(offset + count)">
                    <i class="material-icons">
                        chevron_right
                    </i>
                </a>
            </li>
        }
    </ul>
</div>
