@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<ObjectInfo, string, string>
@inject IViewLocalizer Localizer

@{
    var item = Model.Item1;
    var categoryId = Model.Item2;
    var bucketId = Model.Item3;
    var viewableName = item.Name.Split("/").Last();
    var etag = item.ETag;
    var tags = "";
    var chunks = item.Name.Split("/");
    chunks.SkipLast(1).ToList().ForEach(c => { tags = string.Concat(tags, c, " "); });
}
@{
    <td id="@etag">
        <a class="teal-text truncate"
           asp-area="Core"
           asp-controller="Storage"
           asp-action="Download"
           asp-route-categoryId=@categoryId
           asp-route-bucketId=@bucketId
           asp-route-objectName="@Model.Item1.Name"
           title="@viewableName">
            <span class="fas fa-file prefix browse-icon-margin"></span>
            @viewableName
        </a>

    </td>
}
<td>@item.SizeWithUnit()</td>
<td>@item.LastModified</td>
<td>@tags</td>
<td>
    <button type="button" class="btn btn-flat" 
            data-object-name="@item.Name" 
            data-bucket-id="@bucketId" 
            data-category-id="@categoryId">
        <i class="fas fa-info-circle"></i>
    </button>
    <a class="teal-text" href="/Core/Storage/ShortLink/@bucketId/@categoryId?name=@item.Name">
        <i class="fas fa-link"></i>
    </a>
</td>