@using PikaCore.Infrastructure.Security
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MimeAssistant = PikaCore.Infrastructure.Adapters.Filesystem.MimeAssistant
@model Tuple<string, ObjectInfo>
@inject IdDataProtection DataProtection
@inject IViewLocalizer Localizer

@{
    var item = Model.Item2;
    var lastPath = Model.Item1;
    var viewableName = item.Name.StartsWith("~")
        ? item.Name.Replace("~", "")
        : item.Name;
    var dateString = @item.LastModified.Date.ToLongDateString();
    var etag = item.ETag;
}
@{
    var mime = "";
    mime = MimeAssistant.GetMimeType(item.Name);
    if (!mime.StartsWith("image/")
        && !mime.StartsWith("video/"))
    {
        var type = MimeAssistant.RecognizeIconByMime(mime);
        <td id="@etag">
            @if (item.Size <= 100000000)
            {
                <a class="teal-text truncate"
                   asp-area="Core"
                   asp-controller="Content"
                   asp-action="Index"
                   asp-route-fileId=@etag
                   asp-route-returnUrl="@lastPath"
                   title="@viewableName">
                    <span class="fas fa-@type prefix browse-icon-margin"></span>
                    @viewableName
                </a>
            }
            else
            {
                <p class="teal-text truncate">
                    <span class="fas fa-@type prefix browse-icon-margin"></span>
                    @viewableName
                </p>
            }
        </td>
    }
    else
    {
        var id = "0." + Model.Item1?.Replace("/", "-") + $"-{item.Name}";

        <td id="@etag">
            @if (item.Size <= 100000000)
            {
                <a class="teal-text truncate"
                   asp-area="Core"
                   asp-controller="Content"
                   asp-action="Index"
                   asp-route-fileId=@etag
                   asp-route-returnUrl="@lastPath"
                   title="@viewableName">
                    <span class="fas fa-image prefix browse-icon-margin"></span>
                    @viewableName
                </a>
            }
            else
            {
                <p class="black-text truncate" title="@viewableName">
                    @viewableName
                </p>
            }
        </td>
    }
    <td>@item.Size</td>
    <td>@item.LastModified</td>
}