@model FMS2.Models.ManageViewModels.AdminPanelViewModel

@{
    ViewData["Title"] = "Register - Admin";
    var msg = ViewData["returnMessage"];
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_StatusMessage", msg)

<ul class="nav nav-tabs item-border">
    <li class="nav-item item-border active">
        <a class="nav-link" href="#" onclick="changeVisibleTab(document.activeElement);">Users table</a>
    </li>
    <li class="nav-item item-border">
        <a class="nav-link" href="#" onclick="changeVisibleTab(document.activeElement);">Logs</a>
    </li>
</ul>

<div id="container">
    <div id="users-table">
        <div class="row" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;">
            <div class="col-md-5">
                Username
            </div>
            <div class="col-md-3">
                Permission level
            </div>
            <div class="col-md-3">
                Options
            </div>
        </div>
        <div class="div-table">
            @foreach (var item in Model.UsersWithRoles)
            {
                <div class="row">
                <div class="col-md-5 truncate">
                    @Html.DisplayFor(modelItem => item.Key.UserName)
                </div>
                <div class="col-md-3">
                    @{
                        var roleString = "";
                        await item.Value.ToAsyncEnumerable().ForEachAsync(role =>
                        {
                            roleString = string.Concat(roleString, " ", role);
                        });
                    }
                    @Html.DisplayFor(modelItem => roleString)
                </div>
                <div class="col-md-3">
                    <a asp-action="Edit" asp-controller="Manage" asp-route-id=@item.Key.Id><i class="fas fa-pen"></i></a>
                    <a asp-action="Delete" asp-controller="Manage" asp-route-id="@item.Key.Id"><i class="fas fa-trash-alt"></i></a>
                    <a asp-action="GeneratePassword" asp-controller="Manage" asp-route-id="@item.Key.Id"><i class="fas fa-key"></i></a>
                </div>
                </div>
                <hr>
            }
           
        </div>
        <div id="downloadPartialDiv">
            @await Html.PartialAsync("/Views/Manage/Admin/_GeneratePasswordViewPartial.cshtml")
        </div>
        </div>
        <div id="logs" hidden>
            @await Html.PartialAsync("/Views/Manage/Admin/_LogsViewPartial.cshtml", Model.LogsListViewModel)
        </div>
    </div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
