@model FMS2.Models.ManageViewModels.AdminPanelViewModel

@{
    ViewData["Title"] = "Register - Admin";
    var msg = ViewData["returnMessage"];
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_StatusMessage", msg)

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Permission level
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersWithRoles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.UserName)
                </td>
                <td>
                    @{
                        var roleString = "";
                        await item.Value.ToAsyncEnumerable().ForEachAsync(role =>
                        {
                            roleString = string.Concat(roleString, " ", role);
                        });
                    }
                    @Html.DisplayFor(modelItem => roleString)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Manage", new { @id = item.Key.Id }) | @Html.ActionLink("Delete", "Delete", "Manage", new { @id = item.Key.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("/Views/Manage/Admin/_LogsViewPartial.cshtml", Model.LogsListViewModel)

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
