@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Panel";
}

<h2>@ViewData["Title"]</h2>

<table class="highlight">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Permission level
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", null) | @Html.ActionLink("Delete", "Delete", null)
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
