@model LoginWith2FaViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="container">
<div class="card indigo white-text">
    <div class="card-content">
        <span class="card-title white-text">@ViewData["Title"]</span>
        <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <input asp-for="RememberMe" type="hidden" />
            @Html.ValidationSummary(true,"", new {@class = "card-panel red white-text"})
            <div class="input-field">
                <label asp-for="TwoFactorCode"></label>
                <input asp-for="TwoFactorCode" class="validate login-input-color" autocomplete="off" />
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="input-field">
                <label  asp-for="RememberMachine">
                        <input asp-for="RememberMachine" type="checkbox"/>
                        @Html.DisplayNameFor(m => m.RememberMachine)
                        </label>
            </div>
            <button type="submit" class="btn btn-default">Log in</button>

        </form>
    </div>
</div>
</div>
<strong>
    Don't have access to your authenticator device? You can 
    <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
</strong>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}